<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rapportini</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button ion-item (click)="nuovo()" >
    <ion-icon name="add-circle" item-start></ion-icon>
      Nuovo
    <div class="item-note" item-end></div>
  </button>
  <div *ngIf="listaRapportini?.length > 0; then rapportini; else norapportini"></div>
  <ng-template #rapportini>
    <ion-list>
      <ion-item-sliding #item *ngFor="let rapportino of listaRapportini">
        <button ion-item (click)="openRapportino(rapportino, false)">
          <ion-icon name="analytics" item-start></ion-icon>
          {{ rapportino.nome }}
        </button>
        <ion-item-options icon-start side="left" (ionSwipe)="delete($event, rapportino)">
          <button ion-button color="danger" (click)="delete(item, rapportino)" expandable>
            <ion-icon name="trash"></ion-icon>Elimina
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" [enabled]="enabled">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="scrollTop()">
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
  </ion-fab>
  <ng-template #norapportini>
    <p>Non sono presenti rapportini</p>
  </ng-template>
</ion-content>
