<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Commesse</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="showSearch">
    <ion-searchbar [(ngModel)]="searchText" animated="true" showCancelButton 
          debounce="500" placeholder="Cerca" 
          (ionInput)="changedInput($event)" (ionCancel)="onCancelSearchbar($event)" 
          (ionClear)="onClearSearchbar($event)">
    </ion-searchbar>
  </div>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <button ion-item (click)="nuova()">
    <ion-icon name="add-circle" item-start></ion-icon>
      Nuovo
    <div class="item-note" item-end></div>
  </button>
  <div *ngIf="listaCommesse?.length > 0; then commesse; else nocommesse"></div>
  <ng-template #commesse>
    <ion-list>
      <ion-item-sliding #item *ngFor="let commessa of listaCommesse">
        <button ion-item (click)="openCommessa(commessa, false)">
          <ion-icon name="pricetag" item-start></ion-icon>
          {{ commessa.getNumero() }}
        </button>
        <ion-item-options icon-start side="left" (ionSwipe)="delete($event, commessa)">
          <button ion-button color="danger" (click)="delete(item, commessa)" expandable>
            <ion-icon name="trash"></ion-icon>Elimina
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" [enabled]="enabled">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
  <!-- <div *ngIf="toTopButtonVisible; then show"></div> -->
  <!-- <ng-template #show> -->
  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="scrollTop()">
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
  </ion-fab>
  <!-- </ng-template> -->
  <ng-template #nocommesse>
    <p>Non sono presenti commesse</p>
  </ng-template>

</ion-content>
