<ion-content padding center center-text>
  <ion-title>NEXRapportino</ion-title>
  <form (submit)="login()" [formGroup]="loginForm">
    <!-- gestione username -->
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input [formControl]="loginForm.controls['username']" type="text"></ion-input>
    </ion-item>
    <ion-item danger class="no-line error" *ngIf="!loginForm.controls.username.valid && loginForm.controls.username.dirty">
      Inserisci un Username
    </ion-item>
    <!-- fine gestione username -->
    <!-- gestione password -->
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [formControl]="loginForm.controls['password']" type="password"></ion-input>
    </ion-item>
    <ion-item danger class="no-line error" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
      Inserisci una Password
    </ion-item>
    <!-- fine gestione password -->
  </form>
  <ion-row>
    <ion-col text-center>
      <button ion-button block [disabled]="!loginForm.valid" (click)="login()">Log In</button>
    </ion-col>
  </ion-row>
  <!-- <button ion-button full outline (click)="goToRegister()"Registrati>Registrati</button> -->
</ion-content>
