page-dettagli-rapportino {
    .background {
        background-color: #d2d2d2;
    }

    .background-light {
        background-color: #efefef;
    }

    // .pattern3 {
    //     background:
    //     linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    //     linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    //     background-color:#708090;
    //     background-size: 64px 128px
    //   }

    table { 
		width: 100%; 
        border-collapse: collapse;
        display: block;
        overflow-x: auto;
        // table-layout: fixed;
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
        background: #eee;
        ion-item {
            background: #eee;
        }
	}
	th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 10px; 
		border: 1px solid #ccc; 
        text-align: center;
        white-space: nowrap;
    }
    td {
        padding: 0px;
        margin: 0px;
    }
    ion-input {
        input {
            text-align: center;    
        }
    }
    #nome {
        input {
            text-align: left;
          }
    }

    #cart-btn {
        position: relative;
     }
     
     #cart-badge {
        position: absolute;
        top: 0px;
        right: 0px;
     }
}
