<ion-header>
  <ion-navbar>
    <ion-title>{{ nomeRapportino }}</ion-title>
    <ion-buttons end>
      <div *ngIf="listaRigaRapportino?.length > 0">
        <button ion-button icon-end solid (click)="creaFattura()" color="secondary">
          Riepilogo
          <ion-icon name="create"></ion-icon>
        </button>
      </div>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-buttons end>
      <div *ngIf="showCommesse; then crea else aggiungi"></div>
      <ng-template #crea>
        <button ion-button icon-end solid (click)="cancel()" color="danger">
          Annulla
          <ion-icon name="close"></ion-icon>
        </button>
        <button ion-button icon-end solid (click)="save()" color="secondary">
          Crea
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </button>
      </ng-template>
      <ng-template #aggiungi>
        <button ion-button icon-end solid (click)="addCommesse()" color="secondary">
          Aggiungi
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ng-template>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row fixed class="background-light" padding-bottom>
    <ion-col col-1></ion-col>
    <ion-col col-10 ion-item class="background-light">
      <ion-label floating>Nome Rapportino</ion-label>
      <ion-input id="nome" type="text" [(ngModel)]="nomeRapportino" (ionChange)="changeName()"></ion-input>
    </ion-col>
    <ion-col col-1></ion-col>
  </ion-row>

  <div *ngIf="showCommesse; then new else old"></div>
  <ng-template #new>
    <div *ngIf="listaCommesse?.length > 0; then commesse else nocommesse"></div>
  </ng-template>
  <ng-template #old>
    <div ion-grid no-padding>
      <div ion-row>
        <div ion-col col-12 col-md-6 col-lg-4 *ngFor="let riga of listaRigaRapportino">
          <ion-card>
            <ion-item text-wrap>
              <button ion-button icon-only item-right clear (click)="openRigaOption($event, riga)">
                <ion-icon name="settings"></ion-icon>
              </button>
              {{ getNCommessa(riga.idCommessa) }} - {{ getClienteCommessa(riga.idCommessa) }}
            </ion-item>
            <!-- <ion-card-content> -->
              <!-- Data: {{ getDataCommessa(riga) }} -->
              <ion-item text-wrap item-left>
                <!-- Data: {{ getDataCommessa(riga) }} -->
                Data: {{ listaDatiRiga[listaRigaRapportino.indexOf(riga)].data }}
                <!-- <ion-label floating>Data: </ion-label>
                <ion-datetime (ionChange)="changeValue('data', riga)" displayFormat="DD/MM/YYYY" [(ngModel)]="listaDatiRiga[listaRigaRapportino.indexOf(riga)].data"></ion-datetime> -->
                <ion-icon item-right ios="ios-document-outline" md="md-document" (click)="openDocs(riga)"></ion-icon>
              </ion-item>
            <!-- </ion-card-content> -->
          </ion-card>
        </div>
      </div>
    </div>
    <!-- <ion-list>
      <ion-item-group *ngFor="let riga of listaRigaRapportino">
        <ion-item>
          <ion-label>{{ getNCommessa(riga.idCommessa) }} - {{ getClienteCommessa(riga.idCommessa) }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Data: </ion-label>
          <ion-datetime (ionChange)="changeValue('data', riga)" displayFormat="DD/MM/YYYY" [(ngModel)]="listaDatiRiga[listaRigaRapportino.indexOf(riga)].data"></ion-datetime>
        </ion-item>
        <ion-icon item-center item-end name="more" color="green"></ion-icon>
      </ion-item-group>
    </ion-list> -->
  </ng-template>

  <ng-template #commesse>
    <h3 padding-left>Elenco Commesse</h3>
    <p padding-left>Per ogni commessa seleziona il numero di giorni che hai lavorato.</p>
    <ion-list inset>
      <ion-item #item *ngFor="let commessa of listaCommesse">
        <ion-label item-start>{{ commessa.getNumero() }}</ion-label>
        <button item-end ion-button (click)="remove(commessa)" color="danger">
          <ion-icon name="remove"></ion-icon>
        </button>
        <h4 item-end padding-top padding-bottom>{{ commessa.getCount() }}</h4>
        <button item-end ion-button (click)="add(commessa)" color="green">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" [enabled]="enabled">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
  <ng-template #nocommesse>
    <h5 padding-left>Non sono presenti commesse</h5>
  </ng-template>
</ion-content>
