<ion-header>
  <ion-navbar>
    <ion-title>Documenti</ion-title>
    <ion-buttons end>
      <button ion-button icon-end solid (click)="takePhoto()">
        Aggiungi
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row fixed>
    <ion-col col-12 col-md-6 col-lg-4 *ngFor="let doc of listaDocs">
      <ion-card text-wrap>
        <ion-item text-wrap>
          <button ion-button item-left solid>
            Mostra
          </button>
          <button ion-button icon-only item-right clear (click)="presentDelete(doc)">
            <ion-icon name="close" color="danger"></ion-icon>
          </button>
        </ion-item>
        <ion-card-content>
          <!-- ID: {{ doc.id }} -->
          Documento n° {{ listaDocs.indexOf(doc) + 1 }}: <ion-input 
                                                          [(ngModel)]="listaTitoliDoc[listaDocs.indexOf(doc)]"
                                                          type="text" (ionChange)="changeTitolo(doc)"></ion-input>
          <!-- Path: {{ doc.path }} -->
        </ion-card-content> 
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
