<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contatti</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="showSearch">
    <ion-searchbar [(ngModel)]="searchText" animated="true" showCancelButton 
          debounce="500" placeholder="Cerca" 
          (ionInput)="changedInput($event)" (ionCancel)="onCancelSearchbar($event)" 
          (ionClear)="onClearSearchbar($event)">
    </ion-searchbar>
  </div>
  <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
  </div>
  <button ion-item (click)="nuovo()" >
    <ion-icon name="add-circle" item-start></ion-icon>
      Nuovo
    <div class="item-note" item-end></div>
  </button>
  <div *ngIf="listaContatti?.length > 0; then contatti; else nocontatti"></div>
  <ng-template #contatti>
    <ion-list>
      <ion-item-sliding #item *ngFor="let contatto of listaContatti">
        <button ion-item (click)="openContatto(contatto, false)">
          <div *ngIf="contatto?.getType() == 'Azienda'; then azienda else persona"></div>
          <ng-template #persona><ion-icon ios="ios-contact-outline" md="md-contact" item-start></ion-icon></ng-template>
          <ng-template #azienda><ion-icon name="contacts" color="{{contatto?.getIdCompany() == 0 ? 'secondary' : ''}}" item-start></ion-icon></ng-template>
          {{contatto.getNomeCognome()}}
        </button>
        <ion-item-options icon-start side="left" (ionSwipe)="delete($event, contatto)">
          <button ion-button color="danger" (click)="delete(item, contatto)" expandable>
            <ion-icon name="trash"></ion-icon>Elimina
          </button>
        </ion-item-options>
        <ion-item-options icon-start side="right">
          <a ion-button href="mailto:{{ contatto.getEmail() }}" color="secondary">
            <ion-icon name="mail"></ion-icon>E-mail
          </a>
          <button ion-button color="blue" (click)="call(contatto)">
            <ion-icon ios="ios-call-outline" md="md-call"></ion-icon>Chiama
          </button>
          <!-- <a ion-button href="tel:{{ contatto.getTelefono() }}" color="blue">
              <ion-icon ios="ios-call-outline" md="md-call"></ion-icon>Chiama
          </a> -->
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" [enabled]="enabled">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
  <!-- <div *ngIf="toTopButtonVisible; then show"></div> -->
  <!-- <ng-template #show> -->
  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="scrollTop()">
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
  </ion-fab>
  <!-- </ng-template> -->
  <ng-template #nocontatti>
    <p>Non sono presenti contatti</p>
  </ng-template>
</ion-content>
