<ion-header>
  <ion-navbar>
    <ion-title>
      <div *ngIf="contattoSelected?.getType() == 'Azienda'; then azienda else persona"></div>
      <ng-template #persona><ion-icon ios="ios-contact-outline" md="md-contact" item-start></ion-icon></ng-template>
      <ng-template #azienda><ion-icon name="contacts" color="{{contattoSelected?.getIdCompany() == 0 ? 'primary' : ''}}" item-start></ion-icon></ng-template>
       {{contattoSelected.getNomeCognome()}}
    </ion-title>
  </ion-navbar>
  <div *ngIf="contattoSelected?.getIdCompany() == 0 && !nuovoContatto; then associati"></div>
  <ng-template #associati>
  <ion-toolbar>
    <ion-segment [(ngModel)]="choose" >
      <ion-segment-button value="dettagli">
        <!-- <ion-icon name="list-box"></ion-icon> -->
        Dettagli
      </ion-segment-button>
        <ion-segment-button value="associati">
          <!-- <ion-icon name="git-compare"></ion-icon> -->
          Associati
        </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  </ng-template>
</ion-header>

<ion-content>
  <div [ngSwitch]="choose">
    <div *ngSwitchCase="'dettagli'">
      <div *ngIf="nuovoContatto && contattoSelected.getIdCompany() != 0">
      <ion-item>
        <ion-label>{{contattoSelected.getType()}}</ion-label>
        <ion-toggle checked (ionChange)="changeType($event)"></ion-toggle> <!-- [(ngModel)]="tipo" -->
      </ion-item>
      </div>
      <ion-item>
        <ion-label floating>{{contattoSelected.getType() == 'Azienda' ? 'Ragione Sociale' : 'Nome e Cognome'}}</ion-label>
        <ion-input [(ngModel)]="dati.nomeCognome" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Telefono</ion-label>
        <ion-input [(ngModel)]="dati.telefono" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input [(ngModel)]="dati.email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Partita iva</ion-label>
        <ion-input [(ngModel)]="dati.piva" type="text"></ion-input>
      </ion-item>
      <div *ngIf="contattoSelected?.getType() == 'Persona'; then persona"></div>
      <ng-template #persona>
      <ion-item>
        <ion-label floating>Codice Fiscale</ion-label>
        <ion-input [(ngModel)]="dati.cf" type="text"></ion-input>
      </ion-item>
      </ng-template>
      <div *ngIf="contattoSelected?.getType() == 'Azienda'; then azienda"></div>
      <ng-template #azienda>
      <ion-item>
        <ion-label floating>Sede Legale</ion-label>
        <ion-input [(ngModel)]="dati.sedelegale" type="text"></ion-input>
      </ion-item>
      </ng-template>
      <ion-item>
        <ion-label floating>Sede Operativa</ion-label>
        <ion-input [(ngModel)]="dati.sedeoperativa" type="text"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label floating>Max Ore rimborsabili</ion-label>
        <ion-input [(ngModel)]="dati.maxore" type="text"></ion-input>
      </ion-item> -->
      <div *ngIf="contattoSelected.getIdCompany() == 0">
        <ion-item>
          <ion-label floatin>Max Ore rimborsabili: {{dati.maxore}}</ion-label>
          <ion-range min="0" step="1" max="24" snaps="true" [(ngModel)]="dati.maxore">
            <ion-label range-left>0</ion-label>
            <ion-label range-right>24</ion-label>
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-label floating>Tariffa Oraria (€/h)</ion-label>
          <ion-input [(ngModel)]="dati.tariffaora" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Tariffa Giornata (€)</ion-label>
          <ion-input [(ngModel)]="dati.tariffagiornata" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Tariffa KM (€/Km)</ion-label>
          <ion-input [(ngModel)]="dati.tariffakm" type="number"></ion-input>
        </ion-item>
      </div>
      <ion-row padding-bottom>
        <ion-col>
          <button ion-button block (click)="save()">SALVA</button>
        </ion-col>
      </ion-row>

      <div *ngIf="contattoSelected.getIdCompany() != 0">
      <ion-item padding-bottom>
        <ion-label>Associato a {{contattoPrincipale}}</ion-label>
      </ion-item>
      </div>
    </div>
    <div *ngSwitchCase="'associati'">
      <button ion-item (click)="nuovo()">
        <ion-icon name="add-circle" item-start></ion-icon>
          Nuovo
        <div class="item-note" item-end></div>
      </button>
      
      <div *ngIf="listaContattiAssociati?.length > 0; then contatti; else nocontatti"></div>
      <ng-template #contatti>
        <ion-list>
          <ion-item-sliding #item *ngFor="let contatto of listaContattiAssociati">
            <button ion-item (click)="openContatto(contatto)">
              <div *ngIf="contatto?.getType() == 'Azienda'; then azienda else persona"></div>
              <ng-template #persona><ion-icon ios="ios-contact-outline" md="md-contact" item-start></ion-icon></ng-template>
              <ng-template #azienda><ion-icon name="contacts" item-start></ion-icon></ng-template>
              {{contatto.getNomeCognome()}}
            </button>
            <ion-item-options icon-start side="left" (ionSwipe)="delete($event, contatto)">
              <button ion-button color="danger" (click)="delete(item, contatto)" expandable>
                <ion-icon name="trash"></ion-icon>Elimina
              </button>
            </ion-item-options> 
          </ion-item-sliding>
        </ion-list>
        <!-- <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" [enabled]="enabled">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>  -->
      </ng-template>
      <ng-template #nocontatti>
        <p>Non sono presenti contatti associati</p>
      </ng-template>
    </div>
  </div>
</ion-content>
