<ion-header>
  <div *ngIf="!isModal; then navBar; else toolBar"></div>
  <ng-template #navBar>
    <ion-navbar>
      <ion-title>{{ campoSelected.getName() }}</ion-title>
    </ion-navbar>
  </ng-template>
  <ng-template #toolBar>
    <ion-toolbar>
      <ion-title>{{ campoSelected.getName() }}</ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ng-template> 
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <div *ngIf="!isModal">
      <ion-row fixed class="background">
        <ion-col text-center col-4>
          <ion-label>{{ campoSelected.getAttivo().toString() == 'true' ? 'ATTIVO' : 'DISATTIVO' }}</ion-label>
        </ion-col>
        <ion-col no-padding col-4></ion-col>
        <ion-col ion-item text-center col-4 class="background">
          <ion-toggle item-end checked="{{ campoSelected?.getAttivo() }}" (ionChange)="changeActive($event, campoSelected)"></ion-toggle>
        </ion-col>
      </ion-row>
    </div>
    <ion-row fixed class="background-light" padding-bottom>
      <ion-col col-1></ion-col>
      <ion-col col-10 ion-item class="background-light">
        <ion-label floating>Nome Campo</ion-label>
        <ion-input type="text" [(ngModel)]="nomeCampo" (ionChange)="changeName()"></ion-input>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
    <div *ngIf="campoSelected?.getAttivo().toString() == 'true'">
      <h3 padding-left>Valori di default</h3>
      <ion-row *ngFor="let o of listOption">
        <ion-col ion-item no-padding text-center col-2 *ngIf="isModal">
          <ion-icon padding-left item-start (click)="choose(o)" name="checkmark"></ion-icon>
        </ion-col>
        
        <div *ngIf="isModal; then col8 else col10"></div>
        <ng-template #col8>
          <ion-col ion-item no-padding col-8>
            <ion-label floating>Opzione {{ listOption.indexOf(o) + 1 }}</ion-label>
            <ion-input type="text" [(ngModel)]="values[listOption.indexOf(o)]" (ionChange)="changeValue($event, o)"></ion-input>
          </ion-col>
        </ng-template>
        <ng-template #col10>
          <ion-col padding-left ion-item no-padding col-10>
            <ion-label floating>Opzione {{ listOption.indexOf(o) + 1 }}</ion-label>
            <ion-input type="text" [(ngModel)]="values[listOption.indexOf(o)]" (ionChange)="changeValue($event, o)"></ion-input>
          </ion-col>
        </ng-template>
        
        <ion-col ion-item no-padding text-center col-2>
          <ion-icon padding-right item-end name="close" color="danger" (click)="removeOption(o)"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <div *ngIf="campoSelected?.getAttivo().toString() == 'true'">
    <!-- <ion-item no-lines>
      <ion-icon padding-right item-end name="add" color="secondary" (click)="addOption()"></ion-icon>
    </ion-item> -->
    <ion-row>
      <ion-col text-center padding-bottom>
        <button ion-button block (click)="addOption()">Aggiungi Valore</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
