<ion-header>
  <ion-navbar>
    <ion-title>Commessa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Cliente</ion-label>
    <select-searchable
        item-content
        padding-right
        [isEnabled]="nuovaCommessa"
        [(ngModel)]="principaleSelected"
        [items]="contattiPrincipali"
        itemValueField="id"
        itemTextField="nomeCognome"
        [canSearch]="true"
        [hasInfiniteScroll]="true"
        (onSearch)="searchContatti($event, 'selectCliente')"
        (onInfiniteScroll)="getMoreContatti($event)"
        (onChange)="changeCliente($event, 'selectCliente')">
    </select-searchable>
  </ion-item>
  <ion-item>
    <ion-label>Da chi ?</ion-label>
    <select-searchable
        item-content
        padding-right
        [isEnabled]="lavoratoEnabled"
        [(ngModel)]="associatoSelected"
        [items]="contattiAssociati"
        itemValueField="id"
        itemTextField="nomeCognome"
        [canSearch]="true"
        [hasInfiniteScroll]="true"
        (onSearch)="searchContatti($event, 'selectLavorato')"
        (onInfiniteScroll)="getMoreContatti($event)"
        (onChange)="changeCliente($event, 'selectLavorato')">
    </select-searchable>
  </ion-item>
  <ion-item>
    <ion-label floating>Numero commessa</ion-label>
    <ion-input type="text" [(ngModel)]="numero"></ion-input>
  </ion-item>
  <ion-item *ngFor="let l of libero">
    <ion-label fixed>{{ l.getName() }}</ion-label>
    <ion-input type="text" placeholder="Inserisci oppure" [(ngModel)]="liberoValue[libero.indexOf(l)]"></ion-input>
    <button ion-button outline item-end (click)="scegliOpzione(l)">Scegli</button>
  </ion-item>
  <ion-row>
    <ion-col>
      <button ion-button block (click)="save()">SALVA</button>
    </ion-col>
  </ion-row>
</ion-content>
