<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Impostazioni</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Campi Liberi Commessa
    </ion-list-header>
    <div *ngFor="let c of campi">
      <div *ngIf="c?.getIDCampo() == 0">
      <ion-item #item (click)="dettagli(c)">
        <!-- <ion-item> -->
          <ion-label>Libero {{c.getID()}}: {{ c.getName() }}</ion-label> 
          <!-- <ion-input type="text" placeholder="Nome campo" [(ngModel)]="name[campi.indexOf(c)]" (ionChange)="changeName($event, c)"></ion-input> -->
          <!-- <ion-toggle checked="{{ c?.getAttivo() }}" (ionChange)="changeActive($event, c)"></ion-toggle> -->
          <ion-icon padding-left name="arrow-forward"  item-end></ion-icon> <!-- (click)="dettagli(c)" -->
        <!-- </ion-item> -->
        <!-- <ion-item-options side="right">
          <button ion-button (click)="dettagli(c)">
            <ion-icon name="options"></ion-icon>Default
          </button>
        </ion-item-options> -->
      </ion-item>
      </div>
    </div>
    <ion-list-header>
      Opzioni Commessa
    </ion-list-header>
    <ion-item>
      <ion-label>Includere le persone nella commessa ?</ion-label>
      <ion-checkbox (ionChange)="changeIncludiPersone()" [(ngModel)]="persone"></ion-checkbox>
    </ion-item>
    <ion-list-header>
      Opzioni Rapportino
    </ion-list-header>
    <ion-item>
      <ion-label floating>Email a cui inviare i rapportini</ion-label>
      <ion-input (ionChange)="changeEmail()" [(ngModel)]="emailToSend" type="email"></ion-input>
    </ion-item>
    <!-- <ion-list-header>
      Sviluppo
    </ion-list-header>
    <ion-item>
      <ion-label floating>IP WS</ion-label>
      <ion-input (ionChange)="changeIP()" [(ngModel)]="ipws"></ion-input>
    </ion-item> -->
  </ion-list>
</ion-content>
