<ion-header>
  <ion-navbar>
    <ion-title>Riepilogo</ion-title>
    <ion-buttons end>
      <button ion-button icon-end solid color="green" (click)="createExcel()">
        Estrai Excel
        <ion-icon ios="ios-download-outline" md="md-download"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12 col-md-6 col-lg-4 *ngFor="let riga of righeRapportino">
        <ion-card>
          <ion-card-title>{{ getNCommessa(riga.idCommessa) }} - {{ getClienteCommessa(riga.idCommessa).getNomeCognome() }}</ion-card-title>
          <ion-card-content text-wrap>
            Data: {{ getDataCommessa(riga) }}<br>
            Totale Ore: {{ riga.getOreViaggioLavoro() }} - Max Ore Rimborsabili: {{ getClienteCommessa(riga.idCommessa).getMaxOre() }}<br>
            Rimborso Ore: {{ riga.getRimborsoOre(getClienteCommessa(riga.idCommessa)) }} € ({{getClienteCommessa(riga.idCommessa).getTariffaOre()}}€/h)<br>
            Rimborso km ({{ getClienteCommessa(riga.idCommessa).getTariffaKm() }} €/Km): {{ riga.getTotRimborsoKm(getClienteCommessa(riga.idCommessa).getTariffaKm()) }} €<br>
            Rimborso Art.15: {{ riga.getRimborsiArt15() }} €<br>
            Rimborso: {{ riga.getRimborsi() }} €
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
