<ion-list>
  <ion-list-header>
    <button ion-button item-right color="danger" (click)="deleteRiga()">Elimina</button>
  </ion-list-header>
  <ion-item>
      <ion-label floating>Data: </ion-label>
      <ion-datetime (ionChange)="changeValue('data')" displayFormat="DD/MM/YYYY" [(ngModel)]="dati.data"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label floating>Ore Viaggio: </ion-label>
    <ion-input  (ionChange)="changeValue('tot_ore_viaggio')" 
                [(ngModel)]="dati.totOreViaggio" 
                type="number">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Ore Lavoro: </ion-label>
    <ion-input  (ionChange)="changeValue('tot_ore_lavoro')" 
                [(ngModel)]="dati.totOreLavoro" 
                type="number">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>KM percorsi: </ion-label>
    <ion-input  (ionChange)="changeValue('tot_km')" 
                [(ngModel)]="dati.totKM" 
                type="number">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Pranzo Art.15 (€): </ion-label>
    <ion-input  (ionChange)="changeValue('pranzo_art15')" 
                [(ngModel)]="dati.pranzo_art15" 
                type="number">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Cena Art.15 (€): </ion-label>
    <ion-input  (ionChange)="changeValue('cena_art15')" 
                [(ngModel)]="dati.cena_art15" 
                type="number">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Hotel Art.15 (€): </ion-label>
    <ion-input  (ionChange)="changeValue('hotel_art15')" 
                [(ngModel)]="dati.hotel_art15" 
                type="number">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Altro Art.15 (€): </ion-label>
    <ion-input  (ionChange)="changeValue('altro_art15')" 
                [(ngModel)]="dati.altro_art15" 
                type="number">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Pranzo (€): </ion-label>
    <ion-input  (ionChange)="changeValue('pranzo')" 
                [(ngModel)]="dati.pranzo" 
                type="number">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Cena (€): </ion-label>
    <ion-input  (ionChange)="changeValue('cena')" 
                [(ngModel)]="dati.cena" 
                type="number">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Hotel (€): </ion-label>
    <ion-input  (ionChange)="changeValue('hotel')" 
                [(ngModel)]="dati.hotel" 
                type="number">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Altro (€): </ion-label>
    <ion-input  (ionChange)="changeValue('altro')" 
                [(ngModel)]="dati.altro" 
                type="number">
    </ion-input>
  </ion-item>
</ion-list>
